<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <link rel="stylesheet" href="css/demo.css" />
  <link rel="stylesheet" href="css/templatemo-style.css">

  <script type="text/javascript" src="javascripts/modernizr.custom.86080.js"></script>

</head>

<body>

  <div id="particles-js"></div>

  <div class="container" style="vertical-align: middle;text-align: center;">
    
        <h1>GOMOKU</h1>
        <a href="">单机对战</a>
        <a href="">联网对战</a>
  </div>


</body>

<script type="text/javascript" src="/javascripts/particles.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>

</html>