<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <link rel="stylesheet" href="css/demo.css" />
  <link rel="stylesheet" href="css/templatemo-style.css">

  <script type="text/javascript" src="javascripts/modernizr.custom.86080.js"></script>
  <style type="text/css">
    .juli15 {
      margin-top: 300px;
    }
  
    /* 使用外边距属性，设置顶部外边距为15px，此div调用的类中的文字，距离顶部15px */
  </style>
</head>

<body>

  

  <div class="container" style="vertical-align: middle;text-align: center;">
    
        <div class="juli15" style="vertical-align: middle;text-align: center;">
        
          <h1>GOMOKU</h1>
          <a href="/single/index.html">单机对战</a>
          <br>
          <a href="/login">联网对战</a>
        </div>
  </div>

  <div id="particles-js" style="z-index: -1;"></div>
</body>

<script type="text/javascript" src="/javascripts/particles.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>

</html>